/* reset */

body {
  padding:50px;

  background-color: white;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 20px auto;
  width: 250px;
  height: 250px;
  background: white;
  border-radius: 75px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 2px;
  transition: 1s box-shadow;
}

div:hover {
  box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}

div:hover::before, div:hover::after {
  display: block;
  content: '';
  position: absolute;
  width: 250px;
  height: 250px;
  background: #FDA8CF;
  border-radius: 75px;
  z-index: -1;
  animation: 1s clockwise infinite;
}

div:hover:after {
  background: #F3CE5E;
  animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;    
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;    
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;    
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;    
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;    
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;    
  }
}

@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
  margin: 0px;
}

#circle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b19cd9;
  width: 70vw;
  height: 70vh;
  position:relative;
  padding: 20px;
}

.circle {
  width: 50vh;
  height: 50vh;
  position: absolute;
  border-radius: 50%;
}

#one:before {
  content: "Say Cheese!";
}

#one {
  background-color: rgba(0,0,225, 0.45);
  font-size: 40px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  transition: 1s;
}

#two {
  background-color: green;
  transition: 1s;
  opacity: 0.5;
}

#three {
  background-color: red;
  transition: 1s;
  opacity: 0.5;
}

#four {
  background-color: orange;
  transition: 1s;
  opacity: 0.5;
}
#five {
  background-color: green;
  transition: 1s;
  opacity: 0.5;
}

#cc {
  position:relative;
  width: 50vh;
  height: 50vh;
  border-radius: 50%;
  overflow: hidden;
}

#cc:hover #two {
  transform: translate(0px, 75px);
}
#cc:hover #three {
  transform: translate(0px, -75px);
}
#cc:hover #four {
  transform: translate(75px, 0px);
}
#cc:hover #five {
  transform: translate(-75px, 0px);
}

#mb {
  position: absolute;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.5px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: #3B3A6D;
  color: white;
}

#mb a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 0px;
}

#mb p {
  padding: 5px;
  margin: 0px;
}

@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i,900,900i');

/* Set up */

html { 
  box-sizing: border-box; 
}

*, *:before, *:after { 
  /*box-sizing: inherit; */
}

html {
    height: 100%;
}

.icons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: calc( 50vh - 110px );
  width: 380px;
  height: 220px;
  text-align: center;
  border: 2px solid #383838;
  border-radius: 30px;
  box-shadow: 4px 5px 0px 0px #383838;
}

ico {
  display: block;
  width: 40px;
  height: 60px;
  margin-left: 18px;
  position: relative;
  background: none;
  overflow: hidden;
  cursor: pointer;
  float:left;
}

.btn-upload {
  margin-left: 87px;
}

/* upload */

ico.btn-upload:after {
  box-sizing: border-box;
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  border: 2px solid #383838;
  border-radius: 0px;
  position: absolute;
  bottom: 0;
}
ico.btn-upload:hover n {
  transform: translateY(2px);
}
ico.btn-upload n {
  display: block;
  width: 2px;
  height: 38px;
  background: #383838;
  position: absolute;
  left: 50%;
  margin-left: -1px;
  transform: translateY(60px);
  transition: 0.4s;
}
ico.btn-upload n:after,
ico.btn-upload n:before {
  content: "";
  width: 2px;
  height: 17.5px;
  background: #383838;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
  transform: rotate(-45deg);
}
ico.btn-upload n:before {
  transform-origin: 2px 0px;
  transform: rotate(45deg);
}

/* download */

ico.btn-download:after {
  box-sizing: border-box;
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  border: 2px solid #383838;
  border-radius: 0px;
  position: absolute;
  bottom: 0;
}
ico.btn-download:hover n {
  transform: translateY(2px);
}
ico.btn-download n {
  display: block;
  width: 2px;
  height: 38px;
  background: #383838;
  position: absolute;
  left: 50%;
  margin-left: -1px;
  transform: translateY(60px);
  transition: 0.4s;
}
ico.btn-download n:after,
ico.btn-download n:before {
  content: "";
  width: 2px;
  height: 17.5px;
  background: #383838;
  position: absolute;
  bottom: -1px;
  left: 0;
  transform-origin: 0px 16px;
  transform: rotate(-45deg);
}
ico.btn-download n:before {
  transform-origin: 2px 16px;
  transform: rotate(45deg);
}

/* list */

ico.btn-list:after {
  box-sizing: border-box;
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  border: 2px solid #383838;
  border-radius: 0px;
  position: absolute;
  bottom: 0;
}
ico.btn-list:hover n {
  transform: translateX(0px);
}
ico.btn-list:hover n:after,
ico.btn-list:hover n:before {
  transform: translateX(0px);
}
ico.btn-list n {
  display: block;
  width: 15px;
  height: 2px;
  background: #383838;
  position: absolute;
  top: 33px;
  left: 15px;
  transition: 0.4s;
  transform: translateX(-30px);
  box-shadow: -3px 0 0 #383838, -5px 0 0 #383838;
}
ico.btn-list n:after,
ico.btn-list n:before {
  content: "";
  width: 15px;
  height: 2px;
  background: #383838;
  position: absolute;
  top: 6px;
  transition: 0.4s;
  transition-delay: 0.2s;
  transform: translateX(-30px);
  box-shadow: -3px 0 0 #383838, -5px 0 0 #383838;
  left: 0px;
}
ico.btn-list n:before {
  top: 12px;
  ransition-delay: 0.4s;
}

/* halo */

ico.btn-halo {
  z-index: 3;
}
ico.btn-halo:after {
  box-sizing: border-box;
  display: block;
  content: "";
  width: 26px;
  height: 26px;
  border: 2px solid #383838;
  border-radius: 20px;
  position: absolute;
  bottom: 8px;
  left: 7px;
  background: none;
}
ico.btn-halo:before {
  display: block;
  content: "";
  width: 32px;
  height: 2px;
  position: absolute;
  bottom: 23px;
  left: 1px;
  background: transparent;
  transform: rotate(-45deg) rotatey(90deg);
  transform-origin: 22.5px 4px;
  border-left: 4px solid #383838;
  border-right: 4px solid #383838;
  transition: 0.4s;
}
ico.btn-halo:hover:before {
  transform: rotate(-45deg) rotatey(0deg);
}
ico.btn-halo:hover n {
  transform: rotatey(0deg);
}
ico.btn-halo:hover n:after {
  transform: rotate(45deg) rotatey(0deg);
}
ico.btn-halo:hover n:before {
  transform: rotate(90deg) rotatey(0deg);
}
ico.btn-halo n {
  display: block;
  width: 32px;
  height: 2px;
  position: absolute;
  top: 39px;
  left: 0px;
  border-left: 4px solid #383838;
  border-right: 4px solid #383838;
  transition: 0.4s;
  transform: rotatey(90deg);
  z-index: ;
}
ico.btn-halo n:after,
ico.btn-halo n:before {
  content: "";
  transition: 0.4s;
  width: 33px;
  height: 2px;
  top: 0px;
  left: -8px;
  background: transparent;
  position: absolute;
  transform: rotate(45deg) rotatey(90deg);
  transform-origin: 22.5px 4px;
  border-left: 4px solid #383838;
  border-right: 4px solid #383838;
}
ico.btn-halo n:before {
  transform: rotate(90deg) rotatey(90deg);
  transform-origin: 22px 3px;
  top: -1px;
  left: -8px;
  width: 32px;
  border-left: 4px solid #383838;
  border-right: 4px solid #383838;
}




